@model IEnumerable<LanguageModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Languages</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table" id="languageTable">
    <thead>
        <tr>
            @*<th class="text-center">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                Actions
            </th>*@
            <td>Id</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }*@

        
    </tbody>
</table>

<a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js"></script>

<script>
    var jq = $.noConflict();
    jq(document).ready(function()
    {   
        loadData();
    });

    function loadData() {
        var languageData = [];
        $.ajax({
            type: "GET",
            url: "/Language/GetAll",
            async: false,
            success: function (data) {
                $.each(data, function (key, value) {
                    var editField = '<a class="btn btn-primary m-1" onclick="funcEdit('+value.id+')">Edit</a>';
                    var deleteField = '<a class="btn btn-danger m-1" onclick="funcRemove('+value.id+')">Delete</a>';
                    var hidden = '<input type="hidden" value="' + value.id + '"/>';
                    var actionBtn = editField + deleteField + hidden;
                    var x = '<td class="align-middle">' + actionBtn + '</td>';

                    languageData.push([value.id, value.name, x]);
                });
            },
            failure: function (data) {
                console.log(data);
            }

        })

        jq('#languageTable').DataTable({
            data: languageData
        });
    }
    
    function funcEdit(element)
    {
        window.location.href = "/Language/Edit/"+parseInt(element);
    }

    function funcRemove(element)
    {
        window.location.href = "/Language/Delete/" + parseInt(element)
    }
    
    

</script>